
server:
  port: 8888
spring:
  jackson:
    indent_output: true
  application:
    name: sathish-projects-git-config-server
  h2:
    console:
      enabled: true
  profiles:
    active: git
  security:
    user:
      name:
      password:
  cloud:
    config:
      server:
        git:
          uri: ${GIT_URI}
          default-label: main
          timeout: 5
          clone-on-start: true
          search-paths:
            - '{application}'
            - 'resumes*'
            - 'wi-traffic*'
            - 'running/*'
      enabled: true
  docker:
    compose:
      enabled: false
# http://localhost:8888/wi-traffic-alerts-url/dev/main dev here is the profile and main in the url
# branch or the main branch name
management:
  endpoints:
    web:
      base-path: /sathishconfigserver
      exposure:
        include: "*"
  endpoint:
    health:
      info: true
      show-details: always
    refresh:
      enabled: true
  info:
    git:
      enabled: on
    defaults:
      enabled: on

encrypt:
  key: ${encrypt_key}
